:root {
  --primary: #F4A261;
  --secondary:  #6BAA75;
  --accent: #E76F51;
  --background: #f8c295;
  --white: #FAF9F6;
  --text: #333333;
  --primary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  background-image: url(../assets/background.png);
  border: 2px solid var(--primary);
}

.main-container{
  background-color: var(--white);
}

.btn{
  margin-right: 10px;
  background-color: var(--primary);
  border: 3px solid var(--accent);
  border-radius: 5px;
  cursor: pointer;
  padding: 7px;
  font-size: 12pt;
  font-family: var(--primary-font);
  transition: 200ms ease-in;
}

.btn:hover{
  background-color: var(--accent);
}

/* ==================   NAVBAR   ================== */

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between; /* logo izq / resto der */
  background-color: var(--white);
  padding: 12px;
  border-bottom: 2px solid var(--primary);
}

.navbar-right{
  display: flex;
  align-items: center;
}

.btn-nvb{
  margin-right: 10px;
  background-color: var(--accent);
  border: 3px solid var(--accent);
  border-radius: 5px;
  cursor: pointer;
  padding: 7px;
  font-size: 12pt;
  font-family: var(--primary-font);
}

.btn-nvb:hover{
  transform: scale(1.2);
  transition: 200ms ease-in;
}

.user-info{
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 10px;
}

.logo-vetlink{
  height: 40px;
  cursor: pointer;
}

/* ==================   LOGIN   ================== */

.login-container{
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
}

.login-container-child{
  display: inline-block;
  border-radius: 20px;
  padding: 110px;
  background-color: var(--primary);
}

.login-text{
    display: flex;
  align-items: center;
  gap: 6px;
  font-family: var(--primary-font);
  font-size: 30px;
  justify-content: center;
  color: var(--text);
}

.input-login{
  color: var(--text);
  margin: 5px;
  padding: 15px;
  width: 300px;
  background-color: var(--primary);
  border: 2px solid var(--white);
  border-radius: 10px;
}

.white-bar{
  border-top: 1px dotted var(--text);
  color: var(--primary);
}

.btn-submit{
  background-color: var(--primary);
  border: 3px solid var(--accent);
  color: var(--text);
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
  font-size: 15pt;
  font-family: var(--primary-font);
  transition: 200ms ease-in;
}

.btn-submit:hover{
  background-color: var(--accent);
}

/* ==================   DASHBOARD   ================== */

.cool-h2-text{
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  text-align: center;
  padding: 10px 0px 10px 20px;
  font-family: var(--primary-font);
  color: var(--accent);
  font-size: 30px;
  margin: 0px;
}

.container{  
  text-align: center;
  margin-right: 10px;
  background-color: var(--primary);
  border: 3px solid var(--white);
  border-radius: 5px;
  cursor: pointer;
  padding: 7px;
}

label{
  margin: 3px;
  padding: 5px;
  font-size: 14pt;
  font-family: var(--primary-font);
  flex-direction: column;
}

.vet-filter{
  margin-right: 10px;
  background-color: var(--accent);
  border: 3px solid var(--accent);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

.date-filter{
  margin-right: 10px;
  margin-left: 10px;
  background-color: var(--accent);
  border: 3px solid var(--accent);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

.dashboard-table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th{
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0.5em;
  background-color: var(--accent);
  font-family: var(--primary-font);
}

.table-head{
  background-color: var(--secondary);
  color: #fff;
}

.table-body{
  font-family:arial;
  font-weight: normal;
  background-color: var(--secondary);
  color:var(--text);
}

td{
  border: 1px solid #000;
  padding: .5em;
  width:100px;
  text-align:center;
}

table tbody tr:nth-child(odd) {
	background-color: var(--primary);
}
table tbody tr:nth-child(even) {
	background-color: #f9c79f;
}

/* ==================   APPOINTMENTS   ================== */

/* .appoint-container{
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
}

.appoint-container-child{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 100px;
  background-color: var(--primary);
}

.appoint-form{
  align-items: center;
  justify-content: center;
} */



#appointment-input-1, #appointment-input-2, #appointment-input-4 {
  margin-top: 10px;
}

#appointment-input-6{
  margin-left: 10px;
  padding: 8px;
  font-size: 16px;
}

#appointment-input-8{
  margin-left: 10px;
  padding: 5px;
  width: 500px;
  height: 15px;
  font-size: 18px;
}

#appointment-input-9{
  margin-left: 10px;
  padding: 5px;
  width: 70px;
  font-size: 16px;
}

/* ==================   PETS, VETS & USERS REGISTER   ================== */

.pets-form-dad, .vets-form-dad, .users-form-dad, .appointment-form-dad{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.pets-form-child, .vets-form-child, .users-form-child, .appointment-form-child{
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  width: 50%;
}

.center-stupid-div-again{
  text-align: center;
  justify-content: space-evenly;
  margin-top: 10px;
  padding-bottom: 10px;
}

.pet-btn, .vet-btn, .user-btn{
  margin: 0px 15px 10px;
  background-color: var(--primary);
  border: 3px solid var(--accent);
  border-radius: 5px;
  cursor: pointer;
  padding: 7px;
  font-size: 12pt;
  font-family: var(--primary-font);
  transition: 200ms ease-in;
}

.pet-btn:hover{
  background-color: var(--accent);
}

#pet-input-1, #pet-input-2, #pet-input-5, #pet-input-6, #user-input-1, #user-input-2, #user-input-3, #user-input-4{
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

#pet-input-2{
  width: 20%;
  margin-left: 10px;
}

#pet-input-3, #pet-input-4, #pet-input-8, #vet-input-8, #user-input-5, #appointment-input-3{
  width: 50%;
  padding: 8px;
  margin-left: 10px;
  font-size: 16px;
  font-family: var(--primary-font);
}

#pet-input-7, #consultations{
  width: 10%;
}

#vet-input-1, #phone{
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

#vet-input-3{
  margin-left: 10px;
  width: 50%;
  padding: 10px;
}

#vet-work-schedule-1{
 margin: 0px 5px 0px 0px;
  padding: 10px;
  border-radius: 5px;
}

#vet-work-schedule-2{
  margin: 0px 5px 0px 10px;
  padding: 10px;
  border-radius: 5px;
}
